extends ./layout/index.pug
block compartircontenido 
    main.container.nt-5 
        .row 
            .col-md-5
                img(src="img/aragon.jpg" class="img-fleid")
            .col-md-7
                h1=pagina 
                blockquote  sdasdasdasdsadsadaddasd 

        .lista-iconos 
            .container.nt-5.py-5.text-center
                .row 
                    .col-nd-4 
                        img(src="img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Descripcion 
                        p esto no es un parrafo
                    .col-md-4 
                        img(src="img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Descripcion 
                        p sdasdsadasd
                    .col-md-4 
                        img(src="img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Descripcion 
                        p El buen francisco 
    
